{% load static %}
<section class="about" style="padding: 10px;margin-left:20px">
    <div class="container about-container">
      <div class="about-text">
        <h2>About Us</h2>
        <p>
          We are a passionate team of developers and designers committed to delivering 
          top-quality solutions. Our mission is to help businesses thrive in the digital era.
        </p>
        <a href="#" class="btn-primary">Learn More</a>
      </div>
      <div class="about-img">
        <img src="{% static 'images/service1.webp' %}" alt="About Us">
      </div>
    </div>
  </section>